body {
    font-family: "Cabin", sans-serif;

    color: white;
    background-color: #0b0b0c;
  }
  .iconos{
      background-color: rgb(24, 94, 94);
      align-items: center;
      text-align: center;
  }
  .imagen_card{
      text-align: center;
      width:18rem;
  }
  footer{
      background-color: rgb(24, 94, 94);
      
      
  }
  .footerviajes{
      margin-left: 20%;
  }
  .links{
    margin-left:1rem;
    font-size:2rem;

  }
  .header .navbar {
    background-color: transparent !important;
  }